:root{
  --dark-grey: #09090b;
  --med-grey: #202020;
  --light-grey: #303030;
}
body{
  background-color: var(--dark-grey);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
/* Main Content */
.main-content {
  opacity: 1;
  transition: opacity 1s ease;
}

.main-content.hidden {
  opacity: 0;
}
/* wrapper */
.wrapper {
  margin-top: 5vh;
  max-width: 600px;
  margin-inline: auto;
}
/* side nav bar */
.menubar{
  position: absolute;
  top: 40%;
  width: fit-content;
  height: fit-content;
}
.menubar ul li a{
  text-decoration: none;
  outline: none;
  color: #cccccc;
  font-size: xx-large;
}
.menubar ul li{
  transform: translateX(0px);
  transition: all 0.5s ease;
}
.menubar ul li:hover{
  transform: translateX(10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* Bigger and more pronounced shadow */

}
.menubar ul {
  color: var(--light-grey);
  list-style-type: none;
}
/* end side nav bar */
/* header */
.header{
  color: white;
  max-width: 600px;
  min-height: 90px;
  height: 90px;
  margin-inline: auto;
  padding: 10px;
  background-color: var(--dark-grey);
  border: 2px solid var(--light-grey);
  border-radius: 7.5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
}
/* start of img */
/* Heartbeat effect */
.buttonheartbeat {
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.05);
    }
    50%{
      transform: scale(1.1);
    }
    75%{
      transform: scale(1.15);
    }
}
/* end of img */
.header span i{
  font-weight: 500;
  font-size: 30px;
  color: white;
  display: block;
  transform: translateY(0px);
  transition: all 0.3s ease;
}
.header span i:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* Bigger and more pronounced shadow */
}
.header span a{
  text-decoration: none;
}
.profile-picture{
  grid-column: 1;
  grid-row: 1 / span 2;
}

.profile-picture img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
/* text */
.name{
  position: relative;
  top: -20px;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}
.frontend{
  position: relative;
  top: -50px;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  font-weight: 400;
}
/* links */
.social-links{
  position: relative;
  top: -15px;
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  gap: 10px;
  justify-content: center;
}

.profile-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  opacity: 1;
  transition: opacity backdrop-filter 1.5s ease;
}

.profile-info.hidden {
  opacity: 0; /* Fade out */
  pointer-events: none; /* Prevent interaction when hidden */
}

.profile-info-box {
  background: var(--dark-grey);
  padding: 20px;
  border: 2px solid var(--light-grey);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

.profile-info-box .profile-picture img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
}

.profile-details {
  color: white;
}
.profile-details h1{
  top: 10px;
}

.profile-details .location,
.profile-details .age,
.profile-details .seperator {
  display: inline-block;
  margin-right: 10px;
}
.location a{
  text-decoration: none;
  outline: none;
  color: #fff;
}
.location a:hover{
  text-decoration: underline;
}
.location{
  transition: all 0.3s ease;
}
.location:hover{
  transform: scale(1.1);
}
.quote a{
  margin-top: 10px;
  text-decoration: none;
  font-style: italic;
  color: #e5e4e2;
}
.hidden {
  display: none;
}
/* End of header */
/* start of current projects */
.current-projects{
  margin-top: 50px;
  color: white;
}
.projects{
  animation: slide 2s infinite;
  color: white;
  font-size: 20px;
}
@keyframes slide {
  0%, 100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(2px);
  }
}

hr{
  margin-top: 10px;
  color: var(--light-grey);
}
/* All Projects */
.projects a{
  text-decoration: none;
  color: white;
}
.projects a:hover{
  text-decoration: underline;
}
.projects-desc{
  color: white ;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  gap: 10px;
  justify-items: center; /* Center the cards in their grid cells */
  margin-top: 30px;
}
.p-card{
  width: 290px;
  height: 150px;
  background-color: #202020;
  border-radius: 15px;
  transform: translateY(0px);
  transition: all 0.5s ease;
}
.p-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* Bigger and more pronounced shadow */
}
.p-card h3{
  padding-left: 10px;
}
.p-card p{
  padding-left: 10px;
}
.p-card i {
  position: relative;
  float: right;
  top: -10px;
  background-color: rgb(255, 187, 0);
  color: var(--dark-grey);
  border-radius: 20px;
  padding: 5px 10px;
}
